[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
get-secret-or-env-var = {path = ".", editable=true}

[packages]

[requires]
python_version = "3.7"
